@font-face {
    font-family: 'Arial';
    src: url('/src/font/arial.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Italic';
    src: url('/src/font/ariali.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Bold';
    src: url('/src/font/arialbd.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Bold Italic';
    src: url('/src/font/arialbi.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Black';
    src: url('/src/font/ariblk.ttf');
    font-weight: normal;
    font-style: normal;
}