/** CUSTOM RADIO **/
// input[type="checkbox"] {
//     + label {
//       &:after {
//         background-color: transparent;
//         content: "";
//         display: block;
//         position: absolute;
//         left: 0.65rem;
//         top: 0.25rem;
//         width: 0.5rem;
//         height: 1rem;
//         opacity: 0.2;
//         border-bottom: 3px solid $color-border;
//         border-right: 3px solid $color-border;
//         transform: rotate(45deg);
//         transition: border-color 0.3s ease;
//       }
//     }
//     &:checked {
//       + label {
//         &:before {
//           content: "";
//         }
  
//         &:after {
//           content: "";
//           opacity: 1;
//         }
//       }
//     }
// }

.radio-wrapper {
    margin-bottom: 1.2rem;

    input[type="radio"] {
        display: none;

        + label {
            position: relative;
            padding: 0.4rem 0 0 2.2rem;
            margin-bottom: 1rem;
            user-select: none;
            color: $color-shadow;
            cursor: pointer;
        
            &:before {
                content: "";
                position: absolute;
                top: 3px;
                left: 0;
                width: 16px;
                height: 16px;
                border: 2px solid #999999;
                border-radius: 0.25rem;
                background: $color-white;
                text-align: center;
                transition: background 200ms ease-out;
                cursor: pointer;
            }
    
            &:after {
                content: "";
                position: absolute;
                top: 9px;
                left: 6px;
                width: 4px;
                height: 4px;
                transform: scale(0);
                transition: transform 200ms ease-out;
            }
        }
    }
      
    input[type="radio"] {
        + label {
            &:before,
            &:after {
            border-radius: 50%;
            }
        }

        &:checked {
            + label {

                &:before {
                    animation: borderscale 300ms ease-in;
                    border-color: $color-success;
                }

                &:after {
                    background: $color-success;
                    transform: scale(1);
                }
            }
        }
    }
}

/** CUSTOM SELECT OPTIONS **/

.cms-select {
    position: relative;
    display: inline-block;
    width: 190px;

    & select {
        display: none; /*hide original SELECT element:*/
    }
}
  
  
.select-selected {
    background-color: $color-white;
    color: $color-shadow;
    border-bottom: 1px solid $color-border;

    /*style the arrow inside the select element:*/
    &:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-color: $color-shadow transparent transparent transparent;
    }

    /*point the arrow upwards when the select box is open (active):*/
    &.select-arrow-active:after {
        border-color: transparent transparent $color-shadow transparent;
        top: 10px;
    }
}
  
  
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: $color-shadow;
    padding: 9px 16px 9px 5px;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background: #FFF;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 2px solid $color-success;

    & div{
        padding-left: 15px;
        background: $color-white;
    }

    & .same-as-selected{
       color: $color-success;
       font-weight: bold;
       position: relative;

        &:after {
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Pro"; 
            font-weight: 400; 
            content: "\f00c";
            position: absolute;
            top: 8px;
            right: 15px;
        }
    }
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover {
    background-color: #f2f2f2;
}



.filter-post {
    margin-top: 2.4rem;

    .filter-post-status {
        margin-top: 2.4rem;
        background: $color-white;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 1.4rem;
        z-index: 9;

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.6rem;
        }

        &__opt {
            .choice-other {
                padding: 9px 10px 9px 5px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-bottom: 1px solid $color-border;
            }

            .choice-other-input:checked .choice-other {
                border-bottom: 1px solid $color-success !important;
            }
        }
    }
}
